<div class="homePage">
    <div class="card">
      <div class="card-header">
        <h4 class="font-weight-bold" style="text-align: center;">
       BBLT Supply Manager
            </h4>
      </div>
      <div class="card-body">
        <p class="card-text">Using button below, you can call create a supply function.</p>
				<a class="btn-lg btn-secondary" href="supply/callcreatesupply" role="button">Create Supply</a>
				<a class="btn-lg btn-warning" href="supply/supplylist" role="button">Get List</a>
				<a class="btn-lg btn-success" href="supply/callpurchase" role="button">Purchase</a>
				<a class="btn-lg btn-primary" href="supply/remainingsupply" role="button">Get One Product</a>
        


      </div>
    </div>
</div>




  