
<div class="homePage">
    <div class="card">
      <div class="card-header">
        <h4 class="font-weight-bold" style="text-align: center;">
       Contact 
            </h4>
      </div>
      <div class="card-body">
        <p class="card-text">atesates2012@gmail.com</p>
      
      </div>
    </div>
</div>

