<div class="homePage">
  <div class="card">
    <div class="card-header">
      <h4 class="font-weight-bold" style="text-align: center;">
        Blockchain Based Lateral Transshipments
      </h4>
    </div>
    <div class="card-body">
      <p class="card-text">If you’ve already a network up and running, then go to wallet in Operations in menu. If not,
        then you must up the network.</p>
      <div><img src="../../public/BBLT.png" width="550" height="300"></div>
    </div>
  </div>
</div>