<div class="homePage">
    <div class="card">
      <div class="card-header">
        <h4 class="font-weight-bold" style="text-align: center;">
       BBLT Wallet Manager
            </h4>
      </div>
      <div class="card-body">
        <p class="card-text">Using button below, you can call enrollAdmin, userRegisterandEnroll and initLedger functions.</p>
				<a class="btn-lg btn-secondary" href="wallet/callenrollinit" role="button">Start</a>

        <p class="card-text mt-3">When ok, you can go to Supply in Operations to create transactions.</p>

      </div>
    </div>
</div>